[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-allauth = "*"
django-debug-toolbar = "*"
django-dotenv = "*"
django-extensions = "*"
django-filter = "*"
django-heroku = "*"
django-registration-redux = "*"
django-test-plus = "*"
gunicorn = "*"
pillow = "*"
python-dotenv = "*"
django = "*"
"psycopg2" = "*"
djangorestframework = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.7"
