{% extends 'aboutbase.html' %}
{% load staticfiles %}
{% block title %}
    About Us {{ block.super }}
{% endblock title %}

{% block content %}
<body>
<section class="section">
<div class="container">
<h1 class="title is-1">Meet The Team</h1>
<br>
<div>
     <div class="container columns">
        <div class="column is-mobile">
            <article class="hue profile-card">
                <p class="title">Peter</p>
                    <div class="is-centered">
                        <img src="{% static 'images/peteprp.jpg'%}" class="profile-pic">
                    </div>
                    <div class="content pls-work3">
                    <br>
                     <p>I am a software developer based in Durham, NC.</p><p>I enjoy the process of creating software that solves problems in creative and unique ways, such as a program which can play the card game 'Set'. As a former mountain guide in Western North Carolina, I enjoy rock climbing, skiing, whitewater kayaking, and backpacking.</p>
                </div>
                <br><a href="https://www.linkedin.com/in/peter-oas/"><i class="fab fa-linkedin fa-3x"></i></a>
            </article>  
        </div>
        <div class="column is-mobile">
            <article class="hue profile-card">
                <p class="title">Steve</p>
                <div class="is-centered">
                    <img src="{% static 'images/stevepprr.jpg'%}" class="profile-pic">
                </div>
                <div class="content pls-work4">
                    <br>
                    <p>
                        I'm currently a software developer in the Research Triangle Area of Raleigh-Durham, North Carolina.</p>
                        
                        <p>I have a diverse business background combining several disciplines: entrepreneurship, marketing, real estate brokerage management, management consulting, and entertainment. I have a B.S. from New York University in mass media communications, and am also a licensed real estate broker in Illinois and North Carolina.</p>
                </div>
                    <br><a href="https://www.linkedin.com/in/stevenmarks/"><i class="fab fa-linkedin fa-3x"></i></a>
            </article>
        </div>
    </div>
    <div class="container columns">
        <div class="column is-mobile">
            <article class="hue profile-card">
                <p class="title">Maxwell</p>
                    <div class="is-centered">
                        <img src="{% static 'images/maxpp.jpg'%}" class="profile-pic">
                    </div>
                    <div class="content pls-work3">
                    <br>
                    <p>I am formerly from Kenosha, Wisconsin.  I am a Cheesehead and a HUGE Packers fan.  I currently am a software developer in the Research Triangle area of Raleigh-Durham, North Carolina. I also am a real estate broker serving in the Triagle area as well.</p><p>When I am not coding or selling homes, I am either doing volunteer work, playing tennis, or sleeping.</p>
                </div>
                <br><a href="https://www.linkedin.com/in/maxwell-ehiorobo/"><i class="fab fa-linkedin fa-3x"></i></a>
            </article>  
        </div>
        <div class="column is-mobile">
            <article class="hue profile-card">
                <p class="title">Sean</p>
                <div class="is-centered">
                    <img src="{% static 'images/seanpp.jpg'%} " class="profile-pic">
                </div>
                <div class="content pls-work4">
                <br>
                
                <p>I'm a full stack software engineer with a passion for creating elegant programs. I love building API's, writing algorithms, and solving problems with code. In my free time I enjoy rock climbing, listening to audiobooks, and cooking healthy delicious food to enjoy with friends.</p>

                <p>I am skilled with python, Django, and JavaScript, and am familiar with Vue.js, React, Ruby, and Node. I look forward to learning new technologies and improving upon those I know!</p>
                
                </div>
                <a href="https://www.linkedin.com/in/sean-houde/"><i class="fab fa-linkedin fa-3x"></i></a>
            </article>
        </div>
    </div>
</div>
</body>
{% endblock content %}