{% extends 'base.html' %}
{% block title %}
    About Us {{ block.super }}
{% endblock title %}

{% block content %}
<h1>Meet The Team</h1>
<br>
<br>
<div class="profile pics">
    <div class="tile is-ancestor">
        <div class="tile is-horizontal">
        <div class="tile is-11 is-parent">
                <article class="tile is-child notification is-info">
                <p class="title">Peter</p>
                <figure class="image is-1by1">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf_Bf0-x44hsGqqcQwrTcNeLUSnYjlDuoql-hQHydDdBwxeCT2">
                </figure>
                <div class="content">
                <p>If you do too much it's going to lose its effectiveness. I spend a lot of time walking around in the woods and talking to trees, and squirrels, and little rabbits and stuff. Don't be bashful drop me a line. This is truly an almighty mountain. The very fact that you're aware of suffering is enough reason to be overjoyed that you're alive and can experience it.

                All you need is a dream in your heart, and an almighty knife. There is no right or wrong - as long as it makes you happy and doesn't hurt anyone. Now then, let's play.</p>
                </div>
                </article>
            </div>
            </div>
            <div class="tile is-ancestor">
        <div class="tile is-11 is-parent">
                <article class="tile is-child notification is-info">
                <p class="title">Steve</p>
                <figure class="image is-1by1">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf_Bf0-x44hsGqqcQwrTcNeLUSnYjlDuoql-hQHydDdBwxeCT2">
                </figure>
                <div class="content">
                <p>If you do too much it's going to lose its effectiveness. I spend a lot of time walking around in the woods and talking to trees, and squirrels, and little rabbits and stuff. Don't be bashful drop me a line. This is truly an almighty mountain. The very fact that you're aware of suffering is enough reason to be overjoyed that you're alive and can experience it.

                All you need is a dream in your heart, and an almighty knife. There is no right or wrong - as long as it makes you happy and doesn't hurt anyone. Now then, let's play.</p>
                </div>
                </article>
            </div>
            </div>
            <div class="tile is-ancestor">
        <div class="tile is-11 is-parent">
                <article class="tile is-child notification is-info">
                <p class="title">Max</p>
                <figure class="image is-1by1">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf_Bf0-x44hsGqqcQwrTcNeLUSnYjlDuoql-hQHydDdBwxeCT2">
                </figure>
                <div class="content">
                <p>If you do too much it's going to lose its effectiveness. I spend a lot of time walking around in the woods and talking to trees, and squirrels, and little rabbits and stuff. Don't be bashful drop me a line. This is truly an almighty mountain. The very fact that you're aware of suffering is enough reason to be overjoyed that you're alive and can experience it.

                All you need is a dream in your heart, and an almighty knife. There is no right or wrong - as long as it makes you happy and doesn't hurt anyone. Now then, let's play.</p>
                </div>
                </article>
            </div>
            </div>
            <div class="tile is-ancestor">
        <div class="tile is-11 is-parent">
                <article class="tile is-child notification is-info">
                <p class="title">Sean</p>
                <figure class="image is-1by1">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf_Bf0-x44hsGqqcQwrTcNeLUSnYjlDuoql-hQHydDdBwxeCT2">
                </figure>
                <div class="content">
                <p>If you do too much it's going to lose its effectiveness. I spend a lot of time walking around in the woods and talking to trees, and squirrels, and little rabbits and stuff. Don't be bashful drop me a line. This is truly an almighty mountain. The very fact that you're aware of suffering is enough reason to be overjoyed that you're alive and can experience it.

                All you need is a dream in your heart, and an almighty knife. There is no right or wrong - as long as it makes you happy and doesn't hurt anyone. Now then, let's play.</p>
                </div>
                </article>
            </div>
            </div>
        {% endblock content %}