{% load staticfiles %}

<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>{% block title %}Stumbl{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="google-site-verification" content="LxRKXxbx-5TCeA5NckaoDS_KytGGYo-N3X4J7rtMd3Q" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" defer></script>
    <script src="{% static 'js/compass.js' %}" defer></script>
    <script src="{% static 'js/app.js' %}" defer></script>
    {% block header %}{% endblock header %}
  </head>
    <nav>
        <ul>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            {% if user.is_authenticated %} <li>
                    <a href="{% url 'auth_logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'auth_login' %}">Login</a> 
            </li>
            <li>
                <a href="{% url 'registration_register' %}">Register</a>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'playlist' %}">Playlist</a>
            </li>
     
        </ul>
    </nav>

<body>
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
</body>
</html>