{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Stumbl - {{ block.super }}
{% endblock title %}


{% block content %}
<img src="{% static 'images/arrow.svg' %}" id="arrow" class="absolute" alt="Compass arrow">
<h1>Welcome to Stumbl</h1>
<div id="vue-instance">

  <div id='test'></div>
  <div id='alpha'></div>
  <div id='beta'></div>
  <div id='gamma'></div>
  <div id='compass'></div>
  <div id='distance'></div>
  <div id='location'></div>
  <div id='location2'></div>

  <button class="button is-info open-pl-modal">Playlists</button>


  <div class="control">
    <input id="pac-input" class="controls top-layer input" type="text" placeholder="choose destination">
  </div>


  <div class="empty-space"></div>
  <div id="map"></div>
  <div class="empty-space"></div>
  <div id='c-heading'></div>
  <div id='c-bearing'></div>
  <div id='c-finalheading'></div>


  {% comment %} Choose city modal {% endcomment %}
  <div id="choose-city-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        Search cities
        <p class="modal-card-title"></p>
        <button class="button has-background-grey-lighter	" id="exit-choose-city-modal" aria-label="close">Back</button>
      </header>
      <section id="city-list" class="modal-card-body">
        <div v-for="city in cities">
          <button @click="getCityPlaylists(city)" class="button is-success is-fullwidth">${city}</button>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-primary new-playlist">New Playlist</button>
        <button class="button is-danger cancel">Cancel</button>
      </footer>
    </div>
  </div>

  {% comment %} City playlists modal {% endcomment %}
  <div id="city-playlists-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        Search playlists
        <p class="modal-card-title"></p>
        <button class="button has-background-grey-lighter	" id="exit-city-playlists-modal" aria-label="close">Back</button>
      </header>
      <section id="city-playlists" class="modal-card-body">
        <div v-for="playlist in cityPlaylists">
          <button @click="getPlaylist(playlist)" class="button is-success is-fullwidth">${playlist.title}</button>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-primary new-playlist">New Playlist</button>
        <button class="button is-danger cancel">Cancel</button>
      </footer>
    </div>
  </div>

  {% comment %} Playlist detail modal {% endcomment %}
  <div id="playlist-detail-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        ${currentPlaylist.title}
        <p class="modal-card-title"></p>
        <button class="button has-background-grey-lighter	" id="exit-playlist-detail-modal" aria-label="close">Back</button>
      </header>
      <section id="playlist-detail" class="modal-card-body">

        <article v-for="destination in currentPlaylist.destinations" class="message is-success is-small">
          <div class="message-header">
            <p>${destination.name}</p>
          </div>
          <div class="message-body has-background-grey-lighter">${destination.description}</div>
        </article>

      </section>
      <footer class="modal-card-foot">
        <button @click="applyGems()" class="button is-primary apply-playlist">Select playlist</button>
        <button class="button is-danger cancel">Cancel</button>
        {% if user.is_authenticated %}
        <div>
          <button class="button is-warning">Edit</button>
          <button class="button is-danger">Delete</button>
        </div>
        {% endif %}
      </footer>
    </div>
  </div>

  {% comment %} Create Playlist modal {% endcomment %}
  <div id="create-playlist-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        Create new playlist
        <p class="modal-card-title"></p>
        <button class="button has-background-grey-lighter" id="exit-create-playlist-modal" aria-label="close">Back</button>
      </header>
      <section id="create-playlist" class="modal-card-body">

        {% comment %} <article class="message is-success is-small">
          <div class="message-header">
            <p>${item.name}</p>
          </div>
          <div class="message-body">${item.description}</div>
        </article> {% endcomment %}

        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input v-model="currentTitle" class="input" type="text" placeholder="Playlist name">
          </div>
        </div>

        <div class="field">
          <label class="label">City</label>
          <div class="control">
            <input v-model="currentCity" class="input is-success" type="text" placeholder="City" value="bulma">
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button @click="addPlaylist()" class="button is-link">Submit</button>
          </div>
          <div class="control">
            <button class="button is-text">Cancel</button>
          </div>
        </div>

      </section>

      <footer class="modal-card-foot">
        <button class="button is-danger cancel">Cancel</button>
        {% if user.is_authenticated %}
        {% comment %} <div>
          <button class="button is-warning">Edit</button>
          <button class="button is-danger">Delete</button>
        </div> {% endcomment %}
        {% endif %}
      </footer>
    </div>
  </div>

  {% comment %} Edit Playlist modal {% endcomment %}
  <div id="edit-playlist-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        Add destinations to playlist
        <p class="modal-card-title"></p>
        <button class="button has-background-grey-lighter	" id="exit-edit-playlist-modal" aria-label="close">Back</button>
      </header>
      <section id="create-playlist" class="modal-card-body">

        <article v-for="destination in currentPlaylistDestinations" class="message is-success is-small">
          <div class="message-header">
            <p>${destination.name}</p>
          </div>
          <div class="message-body">${destination.description}</div>
        </article>

        <label class="label">Search places</label>
        <div class="control">
          <input id="modal-autocomplete" class="controls top-layer input" type="text" placeholder="choose destination">
        </div>

        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input v-model="currentDestination.name" id="current-place-name" class="input" type="text" placeholder="Place name">
          </div>
        </div>

        <div class="field">
          <label class="label">Address</label>
          <div class="control">
            <input v-model="currentDestination.formatted_address" id="current-place-address" class="input is-success"
              type="text" placeholder="Address" value="bulma">
          </div>
        </div>

        <div class="field">
          <label class="label">Add a comment</label>
          <div class="control">
            <input v-model="destinationDescription" id="current-place-description" class="input is-success" type="text"
              placeholder="Description" value="bulma">
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button @click="addDestination()" class="button is-link">Submit</button>
          </div>
        </div>

      </section>

      <footer class="modal-card-foot">
        <button class="button is-danger cancel">Cancel</button>
        {% if user.is_authenticated %}
        {% comment %} <div>
          <button class="button is-danger">Delete</button>
        </div> {% endcomment %}
        {% endif %}
      </footer>
    </div>
  </div>

</div>

<script>
  function initAutocomplete() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: 35.993, lng: -78.905 },
      zoom: 18,
      disableDefaultUI: true,
      styles: [
        {
          elementType: 'geometry',
          stylers: [{ color: '#242f3e' }]
        },
        {
          elementType: 'labels.text.stroke',
          stylers: [{ color: '#242f3e' }]
        },
        {
          elementType: 'labels.text.fill',
          stylers: [{ color: '#746855' }]
        },
        {
          featureType: 'administrative.locality',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#d59563' }]
        },
        {
          featureType: 'poi',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#d59563' }]
        },
        {
          featureType: 'poi.park',
          elementType: 'geometry',
          stylers: [{ color: '#263c3f' }]
        },
        {
          featureType: 'poi.park',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#6b9a76' }]
        },
        {
          featureType: 'road',
          elementType: 'geometry',
          stylers: [{ color: '#38414e' }]
        },
        {
          featureType: 'road',
          elementType: 'geometry.stroke',
          stylers: [{ color: '#212a37' }]
        },
        {
          featureType: 'road',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#9ca5b3' }]
        },
        {
          featureType: 'road.highway',
          elementType: 'geometry',
          stylers: [{ color: '#746855' }]
        },
        {
          featureType: 'road.highway',
          elementType: 'geometry.stroke',
          stylers: [{ color: '#1f2835' }]
        },
        {
          featureType: 'road.highway',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#f3d19c' }]
        },
        {
          featureType: 'transit',
          elementType: 'geometry',
          stylers: [{ color: '#2f3948' }]
        },
        {
          featureType: 'transit.station',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#d59563' }]
        },
        {
          featureType: 'water',
          elementType: 'geometry',
          stylers: [{ color: '#17263c' }]
        },
        {
          featureType: 'water',
          elementType: 'labels.text.fill',
          stylers: [{ color: '#515c6d' }]
        },
        {
          featureType: 'water',
          elementType: 'labels.text.stroke',
          stylers: [{ color: '#17263c' }]
        }
      ]
    });

    var gem1 = { lat: 35.993214, lng: -78.904029 };

    function loadDefaultPlaylist() {
      $.get('/api/playlists/1/')
        .then(function (playlist) {
          console.log(playlist)
          for (let gem of playlist.destinations) {
            let coords = { "lat": +gem.lat, "lng": +gem.lng }
            console.log(coords)
            var marker = new google.maps.Marker({
              position: coords,
              map: map,
              icon: "https://img.icons8.com/color/48/000000/crystal.png",
            });
          }
          //   for (let gem of playlist.destinations) {
          //     var marker = new google.maps.Marker({
          //       position: JSON.parse(gem.coordinates),
          //       map: map,
          //       icon:"https://img.icons8.com/color/48/000000/crystal.png",
          //     });
          //     marker.addListener('click', function() {
          //     infowindow.open(map, marker);
          //   });
          // }
        })
    }

    loadDefaultPlaylist();

    var input = document.getElementById('pac-input');
    var searchBox = new google.maps.places.SearchBox(input);
    var modalAutocomplete = document.getElementById('modal-autocomplete')

    // Bias the SearchBox results towards current map's viewport.
    map.addListener('bounds_changed', function () {
      searchBox.setBounds(map.getBounds());
    });

    // Listen for the event fired when the user selects a prediction and retrieve
    // more details for that place.
    searchBox.addListener('places_changed', function () {
      var places = searchBox.getPlaces();
      arrow.style.display = 'inline-block';
      let place_lat = places[0].geometry.location.lat()
      let place_lng = places[0].geometry.location.lng()
      placeCoords = { lat: place_lat, lng: place_lng }
      let place_address = places[0].formatted_address
      let place_name = places[0].name
      destWindow = new google.maps.InfoWindow
      destWindow.setPosition({ lat: place_lat, lng: place_lng })
      destWindow.setContent(place_name)
      destWindow.open(map)
      map.setCenter({ lat: place_lat, lng: place_lng });

      let destination = ({ lat: place_lat, lng: place_lng });
      var marker = new google.maps.Marker({
        position: destination,
        map: map,
        icon: "https://img.icons8.com/metro/50/launched-rocket.png",
        animation: google.maps.Animation.BOUNCE,
      });
    });


    autocomplete = new google.maps.places.Autocomplete(modalAutocomplete);
    autocomplete.bindTo('bounds', map);

    autocomplete.addListener('place_changed', function () {
      vm.currentDestination = autocomplete.getPlace();
    })

    function recenter() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          if (stayCentered) {
            map.setCenter(pos);
          }
        }), function () {
          handleLocationError(true, infoWindow, map.getCenter());
        };
      }
    }

    setInterval(recenter, 1000);

    // listen for when user drags map and disable recentering
    map.addListener('center_changed', function () {
      stayCentered = false
    });

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
        'Error: The Geolocation service failed.' :
        'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
    }
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=places&callback=initAutocomplete"
  async defer></script>
{% endblock content %}