{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
{{ block.super }}
{% endblock title %}


{% block content %}
<div id="vue-instance">

  <img src="{% static 'images/arrow.svg' %}" id="arrow" class="absolute" alt="Compass arrow">
  <input type="image" src="{% static 'images/center.png' %}" id="recenter-button" class="absolute" alt="recenter button"></input>
  <input type="image" src="{% static 'images/thick-about.png' %}" id="about-button" class="absolute" @click="openModal('about-modal')"></input>

  <a target="_blank" id='maps-link'>
    <input type="image" src="{% static 'images/bw-google-maps.png' %}" id="directions-button" class="absolute"></input>
  </a>
  <img src="{% static 'images/cone-of-focus.png' %}" id="cone-of-focus" class="absolute" alt="Cone of focus">

  <div id='test'></div>
  <div id='alpha'></div>
  <div id='beta'></div>
  <div id='gamma'></div>
  <div id='compass'></div>
  <div id='distance'></div>
  <div id='location'></div>
  <div id='location2'></div>

  <div class="control center-children">
    <input id="pac-input" class="controls top-layer input is-info" type="text" placeholder="Where are you headed?">
  </div>
  <div class="empty-space"></div>

  <div id="map"></div>
  <div class="empty-space"></div>
  <div class="has-text-centered">
    <span id="chosen-destination">${currentHeading}</span><span id="distance">${distance}</span>
  </div>

  <div id="main-buttons columns">
    <div class="column center-children">
      <button class="button is-info" id="playlist-button" @click="openModal('choose-city-modal')">Playlists</button>

    </div>
  </div>

  {% comment %} Info Modal {% endcomment %}
  <div id="about-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <strong>LocalGems: Celebrate the Journey</strong>
        <p class="modal-card-title"></p>
      </header>
      <section class="modal-card-body">
        <h3>About Local Gems</h3>
        <br>
        <p><a href="#What-is-LocalGems">What is LocalGems?</a></p>
        <br>
        <p><a href="#How-to-use">How to Use LocalGems</a></p>
        <br>
        <p><a href="#Interface">The LocalGems Interface</a></p>
        <br>
        <p><a href="#Navigation-Arrow">The Navigation Arrow</a></p>
        <br>
        <p><a href="#Turn-by-turn">Get Turn-by-Turn Directions</a></p>
        <br>
        <br>
        <h3><strong><a name="What-is-LocalGems">What is LocalGems?</a></strong></h3>
        <p>LocalGems helps you experience the magic of travel by discovering amazing local places along the way to a
          destination. Imagine you're in a new city, and you have dinner reservations, and you'd like to explore before
          dinner. Enter the restaurant into LocalGems as your "final destination" and then load a Playlist containing
          amazing local places to explore as you make your way towards the restaurant. There are Playlists for every
          mood, all searchable by city. Enjoy the journey with LocalGems.</p>
        <br>
        <h3><strong><a name="How-to-use">How to use LocalGems</a></strong></h3>
        <p>Choose your final destination from the dropdown menu, and then click "Playlists." A Playlist is a collection
          of amazing local businesses, experiences, and places. Choose a Playlist to suit your mood.</p>
        <br>
        <h3><strong><a name="Interface">LocalGems Interface</a></strong></h3>
        <p>The LocalGems map shows your position. Your destination is represented by a gold star on the map, and the
          LocalGems in your loaded Playlist are represented by blue diamonds on the map. Change out a Playlist or add a
          new one at any time.</p>
        <br>
        <h3><strong><a name="Navigation-Arrow">Navigation Arrow</a></strong></h3>
        <p>The black arrow that appears around your map is the Navigation Arrow. It points in the direction of your
          final destination so you know which way to walk, and your distance to destination is found below the map.</p>
        <br>
        <h3><strong><a name="Turn-by-turn">Get Turn-by-Turn Directions</a></strong></h3>
        <p>Sometimes you've had enough exploring and are ready to walk straight to your destiation. If a final
          destiation has been chosen, the "Directions" button will be available for turn-by-turn directions.</p>
      </section>
      <footer class="modal-card-foot">
        <button class="button has-background-grey-lighter" @click="closeModal('about-modal')" aria-label="close">Close</button>
      </footer>
    </div>
  </div>

  {% comment %} Choose city modal {% endcomment %}
  <div id="choose-city-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        Choose a city
        <p class="modal-card-title"></p>
        <button class="button has-background-grey-lighter	" @click="closeModal('choose-city-modal')" aria-label="close">Back</button>
      </header>
      <section class="modal-card-body">
        <div v-for="city in cities">
          <button @click="getCityPlaylists(city)" class="button is-success is-fullwidth">${city}</button>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button @click="newPlaylistModal()" class="button is-primary">Create New Playlist</button>
        <button @click="closeModals()" class="button is-danger cancel">Cancel</button>
      </footer>
    </div>
  </div>

  {% comment %} City playlists modal {% endcomment %}
  <div id="city-playlists-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        Search playlists
        <p class="modal-card-title"></p>
        <button class="button has-background-grey-lighter	" @click="closeModal('city-playlists-modal')" aria-label="close">Back</button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <input class="input" type="text" id="search-field" placeholder="Search playlists" v-model="searchField">
          <button class="button has-background-grey-lighter" @click="searchPlaylists()">Search</button>
          <label class="checkbox">
            <input id="is-accessible" type="checkbox" value="true">
            Accessible
          </label>
          <button class="button has-background-grey-lighter" @click="getCityPlaylists(currentCity)">Clear</button>
        </div>
      </section>
      <section class="modal-card-body">
        <div v-for="playlist in cityPlaylists">
          <button v-if="requestUser === playlist.user" @click="getPlaylist(playlist)" class="button is-info is-fullwidth">${playlist.title} - Likes: (${playlist.playlist_votes.length})</button>
          <button v-else @click="getPlaylist(playlist)" class="button is-success is-fullwidth">${playlist.title} - Likes: (${playlist.playlist_votes.length})</button>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button @click="newPlaylistModal()" class="button is-primary">Create New Playlist</button>
        <button @click="closeModals()" class="button is-danger cancel">Cancel</button>
      </footer>
    </div>
  </div>

  {% comment %} Playlist detail modal {% endcomment %}
  <div id="playlist-detail-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        ${currentPlaylist.title}
        <p class="modal-card-title"></p>
        <button v-if="requestUser === currentPlaylist.user" @click="toggleVote(currentPlaylist)" class="button is-warning">${liked}</button>
        <button v-else @click="toggleVote(currentPlaylist)" class="button is-info">${liked}</button>
        <button class="button has-background-grey-lighter" @click="closeModal('playlist-detail-modal')" aria-label="close">Back</button>
      </header>
      <section class="modal-card-body">
        <h3><strong>${currentPlaylist.description}</strong></h3>
        <br>
        <div class="center-children">
          <a class="button is-link is-90" id="share-link">Share this playlist!</a>
        </div>
        <br>
        <article v-for="destination in currentPlaylist.destinations" class="message is-success is-small">
          <div class="message-header">
            <p>${destination.name}</p>
          </div>
          <div class="message-body has-background-grey-lighter">${destination.description}</div>
        </article>
      </section>
      <footer class="modal-card-foot">
        <button @click="applyGems()" class="button is-primary apply-playlist">Select playlist</button>
        <button @click="closeModals()" class="button is-danger cancel">Cancel</button>
        {% if user.is_authenticated %}
        <div v-if="userOwns()">
          <button @click="openModal('edit-playlist-modal')" class="button is-warning">Edit</button>
          <button @click="openModal('confirm-delete-playlist-modal')" class="button is-danger">Delete</button>
        </div>
        {% endif %}
      </footer>
    </div>
  </div>

  {% comment %} Create Playlist modal {% endcomment %}
  <div id="create-playlist-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        Create new playlist
        <p class="modal-card-title"></p>
        <button class="button has-background-grey-lighter" @click="closeModal('create-playlist-modal')" aria-label="close">Back</button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input v-model="currentTitle" class="input" type="text" placeholder="Playlist name">
          </div>
        </div>
        <div class="field">
          <label class="label">City</label>
          <div class="control">
            <input v-model="currentCity" class="input is-success" type="text" placeholder="City" value="bulma">
          </div>
        </div>
        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <textarea v-model="currentDescription" id="current-place-description" class="textarea input is-success"
              type="text" placeholder="Description"></textarea>
          </div>
        </div>
        <label class="checkbox">
          <input id="accessible" type="checkbox" value="true">
          Accessible
        </label>
      </section>
      <footer class="modal-card-foot">
        <button @click="addPlaylist()" class="button is-link">Create Playlist</button>
        <button @click="closeModals()" class="button is-danger cancel">Cancel</button>
      </footer>
    </div>
  </div>

  {% comment %} Edit Playlist modal {% endcomment %}
  <div id="edit-playlist-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p>Customize *${currentPlaylist.title}*</p>
        <p class="modal-card-title"></p>
        <button class="button has-background-grey-lighter	" @click="closeModal('edit-playlist-modal')" aria-label="close">Back</button>
      </header>
      <section class="modal-card-body">
        <h3>Description: ${currentPlaylist.description}</h3>
        <br>
        <article v-for="destination in currentPlaylist.destinations" class="message is-success is-small">
          <div class="message-header">
            <p>${destination.name}</p>
          </div>
          <div class="message-body has-background-grey-lighter">
            <p>${destination.description}</p>
            <div v-if="userOwns()">
              <button @click="deleteDestination(destination.pk)" class="button is-danger cancel">Remove</button>
            </div>
          </div>
        </article>
        <label class="label">Add a gem</label>
        <div class="control">
          <input id="modal-autocomplete" class="controls input is-success" type="text" placeholder="choose destination">
        </div>
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input v-model="currentDestination.name" id="current-place-name" class="input" type="text" placeholder="Place name">
          </div>
        </div>
        <div class="field">
          <label class="label">Address</label>
          <div class="control">
            <input v-model="currentDestination.formatted_address" id="current-place-address" class="input" type="text"
              placeholder="Address" readonly>
          </div>
        </div>
        <div class="field">
          <label class="label">What makes this place a hidden gem?</label>
          <div class="control">
            <textarea v-model="destinationDescription" id="current-place-description" class="textarea input is-success"
              type="text" placeholder="Description"></textarea>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button @click="addDestination()" class="button is-link">Add Gem</button>
        <button @click="closeModals()" class="button is-danger cancel">Cancel</button>
      </footer>
    </div>
  </div>

  {% comment %} Duplicate Playlist Modal {% endcomment %}
  <div id="duplicate-playlist-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        Playlist already exists
        <p class="modal-card-title"></p>
        <button class="button has-background-grey-lighter	" @click="closeModal('duplicate-playlist-modal')" aria-label="close">Back</button>
      </header>
      <section class="modal-card-body">
        <p>You have already created a playlist with that name!</p>
      </section>
      <footer class="modal-card-foot">
        <button @click="closeModals()" class="button is-danger cancel">Cancel</button>
      </footer>
    </div>
  </div>

  {% comment %} Duplicate Destination modal {% endcomment %}
  <div id="duplicate-destination-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        Duplicate Destination
        <p class="modal-card-title"></p>
        <button class="button has-background-grey-lighter" @click="closeModal('duplicate-destination-modal')"
          aria-label="close">Back</button>
      </header>
      <section class="modal-card-body">
        <p>This playlist already has a destination with that name!</p>
      </section>
      <footer class="modal-card-foot">
        <button @click="closeModals()" class="button is-danger cancel">Cancel</button>
      </footer>
    </div>
  </div>

  {% comment %} Confirm delete playlist modal {% endcomment %}
  <div id="confirm-delete-playlist-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        Confirm delete playlist
        <p class="modal-card-title"></p>
        <button class="button has-background-grey-lighter" @click="closeModal('confirm-delete-playlist-modal')"
          aria-label="close">Back</button>
      </header>
      <section class="modal-card-body">
        <p>Are you sure you want to delete this playlist?</p>
      </section>
      <footer class="modal-card-foot">
        <button @click="deletePlaylist()" class="button is-warning">Delete Playlist</button>
        <button @click="closeModals()" class="button is-danger cancel">Cancel</button>
      </footer>
    </div>
  </div>

  {% comment %} login required modal {% endcomment %}
  <div id="login-required-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        Login required
        <p class="modal-card-title"></p>
        <button class="button has-background-grey-lighter" @click="closeModal('login-required-modal')" aria-label="close">Back</button>
      </header>
      <section class="modal-card-body">
        <p>You must be logged in to do that! Please login to use this feature.</p>
        <br>
        <a href="{% url 'auth_login' %}"><strong>Login</strong></a>
        <br>
        <a href="{% url 'registration_register' %}"><strong>Sign up</strong></a>

      </section>
      <footer class="modal-card-foot">
        <button @click="closeModals()" class="button is-danger cancel">Cancel</button>
      </footer>
    </div>
  </div>

  {% comment %} Playlist already applied modal {% endcomment %}
  <div id="playlist-already-applied-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        Playlist already applied
        <p class="modal-card-title"></p>
        <button class="button has-background-grey-lighter" @click="closeModal('playlist-already-applied-modal')"
          aria-label="close">Back</button>
      </header>
      <section class="modal-card-body">
        <p>That playlist has already been applied!</p>
      </section>
      <footer class="modal-card-foot">
        <button @click="closeModals()" class="button is-danger cancel">Cancel</button>
      </footer>
    </div>
  </div>

  {% comment %} Playlist already applied modal {% endcomment %}
  <div id="shared-playlist-applied-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        Shared Playlist Applied!
        <p class="modal-card-title"></p>
        <button class="button has-background-grey-lighter" @click="closeModal('shared-playlist-applied-modal')"
          aria-label="close">Back</button>
      </header>
      <section class="modal-card-body">
        <p>The playlist *${currentPlaylist.title}* has been applied!</p>
      </section>
      <footer class="modal-card-foot">
        <button @click="closeModals()" class="button is-danger cancel">Cancel</button>
      </footer>
    </div>
  </div>

  {% comment %} Active playlists modal {% endcomment %}
  <div id="active-playlists-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        Active playlists
        <p class="modal-card-title"></p>
        <button class="button has-background-grey-lighter" @click="closeModal('active-playlists-modal')" aria-label="close">Back</button>
      </header>
      <section class="modal-card-body">
        <div v-for="playlist in activePlaylists" class="columns">
          <div class="column">
            <button @click="getPlaylist(playlist)" class="button is-success">${playlist.title}</button>
            <button @click="disablePlaylist(playlist)" class="button is-danger">Remove</button>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button @click="closeModals()" class="button is-danger cancel">Cancel</button>
      </footer>
    </div>
  </div>

  {% comment %} User playlists modal {% endcomment %}
  <div id="user-playlists-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        User playlists
        <p class="modal-card-title"></p>
        <button class="button has-background-grey-lighter" @click="closeModal('user-playlists-modal')" aria-label="close">Back</button>
      </header>
      <section class="modal-card-body">
        <div v-for="playlist in userPlaylists" class="columns">
          <div class="column">
            <button @click="getPlaylist(playlist)" class="button is-info">${playlist.title}</button>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button @click="closeModals()" class="button is-danger cancel">Cancel</button>
      </footer>
    </div>
  </div>

</div> <!-- close vue instance div -->

<script>
  var map, infoWindow, destWindow, placeCoords, autocomplete;

  function initAutocomplete() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: 35.993, lng: -78.905 },
      zoom: 18,
      disableDefaultUI: true,
      styles: [
        { elementType: 'geometry', stylers: [{ color: '#242f3e' }] },
        { elementType: 'labels.text.stroke', stylers: [{ color: '#242f3e' }] },
        { elementType: 'labels.text.fill', stylers: [{ color: '#746855' }] },
        { featureType: 'administrative.locality', elementType: 'labels.text.fill', stylers: [{ color: '#d59563' }] },
        { featureType: 'poi', elementType: 'labels.text.fill', stylers: [{ color: '#d59563' }] },
        { featureType: 'poi.park', elementType: 'geometry', stylers: [{ color: '#263c3f' }] },
        { featureType: 'poi.park', elementType: 'labels.text.fill', stylers: [{ color: '#6b9a76' }] },
        { featureType: 'road', elementType: 'geometry', stylers: [{ color: '#38414e' }] },
        { featureType: 'road', elementType: 'geometry.stroke', stylers: [{ color: '#212a37' }] },
        { featureType: 'road', elementType: 'labels.text.fill', stylers: [{ color: '#9ca5b3' }] },
        { featureType: 'road.highway', elementType: 'geometry', stylers: [{ color: '#746855' }] },
        { featureType: 'road.highway', elementType: 'geometry.stroke', stylers: [{ color: '#1f2835' }] },
        { featureType: 'road.highway', elementType: 'labels.text.fill', stylers: [{ color: '#f3d19c' }] },
        { featureType: 'transit', elementType: 'geometry', stylers: [{ color: '#2f3948' }] },
        { featureType: 'transit.station', elementType: 'labels.text.fill', stylers: [{ color: '#d59563' }] },
        { featureType: 'water', elementType: 'geometry', stylers: [{ color: '#17263c' }] },
        { featureType: 'water', elementType: 'labels.text.fill', stylers: [{ color: '#515c6d' }] },
        { featureType: 'water', elementType: 'labels.text.stroke', stylers: [{ color: '#17263c' }] }
      ]
    });

    var input = document.getElementById('pac-input');
    var searchBox = new google.maps.places.SearchBox(input);
    var modalAutocomplete = document.getElementById('modal-autocomplete')

    // Bias the SearchBox results towards current map's viewport.
    map.addListener('bounds_changed', function () {
      searchBox.setBounds(map.getBounds());
    });

    var currentPlace = [];
    // Listen for the event fired when the user selects a prediction and retrieve
    // more details for that place.
    searchBox.addListener('places_changed', function () {
      for (let place of currentPlace) {
        place.setMap(null)
      }
      var places = searchBox.getPlaces();
      arrow.style.display = 'inline-block';
      $('#pac-input').val('')
      let place_lat = places[0].geometry.location.lat()
      let place_lng = places[0].geometry.location.lng()
      placeCoords = { lat: place_lat, lng: place_lng }
      let place_name = places[0].name
      vm.currentHeading = place_name
      let link = `https://www.google.com/maps/dir/?api=1&destination=${place_lat},${place_lng}&travelmode=walking`
      let linkButton = `<a href="${link}" target="_blank" class="button is-info" id='maps-link'>Directions</a>`
      document.getElementById("directions-button").src = "static/images/google-maps.png";
      if ($('#maps-link').length === 0) {
        $('#main-buttons').append(linkButton)
      }
      else {
        $('#maps-link').attr('href', link)
      }
      $('#chosen-destination').text(`${place_name}`)
      roundify()
      let destination = ({ lat: place_lat, lng: place_lng });
      var marker = new google.maps.Marker({
        position: destination,
        map: map,
        icon: "https://images2.imgbox.com/a5/4d/uDuAc98v_o.png",
      });
      currentPlace.push(marker);

      let contentString = `${place_name}`;

      google.maps.event.addListener(marker, 'click', function () {
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        infowindow.open(map, this);
      });

    });


    autocomplete = new google.maps.places.Autocomplete(modalAutocomplete);
    autocomplete.bindTo('bounds', map);

    autocomplete.addListener('place_changed', function () {
      vm.currentDestination = autocomplete.getPlace();
    })

    function testSensors() {
      navigator.permissions.query({ name: 'geolocation' }).then(function (result) {
        if (result.state == 'denied') {
          window.alert("Geolocation data cannot be accessed. Please provide geolocation permission!");
        }
      });
      if (!(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))) {
        window.alert('This device does not have orientation sensors. Please use this app on a mobile device!')
      }
    }
    {% comment %} setTimeout(testSensors, 5000) {% endcomment %}

    var markerCount = false;
    var markerArray = []

    function recenter() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          }
          if (markerCount === false) {
            for (let gem of markerArray) {
              gem.setMap(null)
            }
            markerArray = [];
            var marker = new google.maps.Marker({
              position: pos,
              map: map,
              icon: "https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Blue_circle_for_diabetes.svg/20px-Blue_circle_for_diabetes.svg.png",
            });
            markerArray.push(marker);
          }
          if (stayCentered) {
            map.setCenter(pos);
          }
        }), function () {
          handleLocationError(true, infoWindow, map.getCenter());
        };
      }
    }

    setInterval(recenter, 1000);

    // listen for when user drags map and disable recentering
    map.addListener('dragstart', function () {
      stayCentered = false
    });

    //listen's to the center me button and reenables recentering
    recenterButton.addEventListener('click', getCentered, false);

    function getCentered() {
      console.log('working')
      stayCentered = true;
      recenter();
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
        'Error: The Geolocation service failed.' :
        'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
    }
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=places&callback=initAutocomplete"
  defer></script>
{% endblock content %}