{% extends "base.html" %}
{% block title %}
    Playlists - {{ block.super }}
{% endblock title %}

{% block content %}
<br>
<nav class="breadcrumb is-medium has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="{% url 'home' %}">
        <span class="icon is-medium">
          <i class="fas fa-home" aria-hidden="true"></i>
        </span>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="{% url 'playlist' %}">
        <span class="icon is-medium">
          <i class="fas fa-city" aria-hidden="true"></i>
        </span>
        <span>Cities</span>
      </a>
    </li>
  </ul>
</nav>
<br>
<br>
<h3>Cities:</h3>

{% for playlist in playlists  %}
{{ playlist.city }}
{% endfor %}
{% endblock%}

