{% extends "base.html" %}
{% block title %}
    Playlists - {{ block.super }}
{% endblock title %}

{% block content %}
<br>
<nav class="breadcrumb is-medium has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="{% url 'home' %}">
        <span class="icon is-medium">
          <i class="fas fa-home" aria-hidden="true"></i>
        </span>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="{% url 'playlist' %}">
        <span class="icon is-medium">
          <i class="fas fa-city" aria-hidden="true"></i>
        </span>
        <span>Cities</span>
      </a>
    </li>
  </ul>
</nav>
<br>
<br>
<h3>Cities:</h3>

{% for playlist in playlists  %}
{{ playlist.city }}
{% endfor %}
{% endblock%}

          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Text input">
            </div>
          </div>

          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <input class="input is-success" type="text" placeholder="Text input" value="bulma">
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input is-warning" placeholder="description">
            </div>
          </div>

          <div class="field">
            <label class="label">Lattitude</label>
            <div class="control">
              <input v-model="newDestination.lat" class="input is-warning" placeholder="description">
            </div>
          </div>

          <div class="field">
            <label class="label">Longitude</label>
            <div class="control">
              <input class="input is-warning" placeholder="description">
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button @click="addDestination" class="button is-link">Submit</button>
            </div>
            <div class="control">
              <button class="button is-text">Cancel</button>
            </div>
          </div>