#map {
    width: 80%;
    border-radius: 100%;
    margin: 0 auto;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.absolute {
    position: absolute;
}

.empty-space {
    height: 50px;
}

#arrow {
    height: 60px;
    width: 60px;
    padding: 0;
    display: none;
    transform-origin: bottom center;
}

.a-link {
    font-size: 2rem;
}

.topmost {
    z-index: 9999
}

.button {
    margin: 2px;
}