#map {
    width: 80%;
    border-radius: 50%;
    margin: 0 auto;
}
  /* Optional: Makes the sample page fill the window. */

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.absolute {
    position: absolute;
}

.empty-space {
    height: 50px;
}

#arrow {
    height: 30px;
    widows: 40px;
    display: block;
}