#map {
    width: 90%;
    border-radius: 100%;
    margin: 0 auto;
    z-index: 9999;
}
  /* Optional: Makes the sample page fill the window. */

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.absolute {
    position: absolute;
}

.empty-space {
    height: 50px;
}

#arrow {
    height: 60px;
    width: 60px;
    display: block;
    padding: 0;
}

#viewpoint {
    height: 60px;
    width: 60px;
    display: block;
    padding: 0;
}